<div class="mainSection">
  <div class="centerPosition pad_2">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "filed_size" %>
        </div>
        <div class="field">
          <%= f.label :name %> <br />
          <%= f.text_field :name, class: "filed_size" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "filed_size" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "filed_size" %>
        </div>
        <div class="pad_2">
          <%= f.submit "Sign up", class: "btn btn_green" %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
